<!-- Muestra el usuario logueado -->
<div *ngIf="usuario && !cargando; else showLogin">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</div>

<!-- Muestra el boton para loguear -->
<ng-template #showLogin>
    <div *ngIf="cargando" class="text-center">
        <!-- Spiner para el loading -->
        <ngx-spinner bdColor="rgba(0, 0, 0)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>
    </div>
    <app-login *ngIf="!cargando"></app-login>
</ng-template>